* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    padding: 10px 150px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

/* Menu Start */
.nav-links {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  background-color: #E761A4;
  clip-path: circle(0px at calc(100vw - 5vw) 30px);
  transition: clip-path 0.5s;
  z-index: 10; /* Ensure it stays on top */
}


.navigation .btn {
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.nav-links li {
  position: relative;
  z-index: 5;
}

.nav-links a {
  text-decoration: none;
  color: rgb(46, 45, 45);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  width: 120px;
  padding: 5px;
}

.highlight {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  background-color: white;
  transition: transform 0.3s;
}
/* Menu End */

/* Headings End */

/* Home Section Start */
.everysection {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Image Container Start */
.image-container {
   display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  height: auto;
  gap: 40px;
}

.img {
  width: 250px;
  height: 250px;
}

.img-one {
  background-image: url(images/atharva-tulsi-6ftd4RgUdnk-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.img-two {
  background-image: url(images/6536956.jpg);
  background-size: cover;
  background-position: center;
}
/* Image Container End */

/* Headings Start */
.container {
  margin-top: 20px;
  padding: 0 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  padding: 20px 0;
}

article > h2 {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

.para {
  max-width: 700px;
  color: rgb(79, 77, 77);
  padding: 10px;
  text-align: center;
  line-height: 22px;
}

/* Home Section End */



/* products Section Start */
.products {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Image Container Start */
.products .image-container {
   display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  height: auto;
  gap: 40px;
}

.img {
  width: 250px;
  height: 250px;
}

.img-one {
  background-image: url(images/atharva-tulsi-6ftd4RgUdnk-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.img-two {
  background-image: url(images/6536956.jpg);
  background-size: cover;
  background-position: center;
}
/* Image Container End */

/* Headings Start */
.products .container {
  margin-top: 20px;
  padding: 0 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  padding: 20px 0;
}

article > h2 {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

.para {
  max-width: 700px;
  color: rgb(79, 77, 77);
  padding: 10px;
  text-align: center;
  line-height: 22px;
}

/* Home Section End */